{:deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           ring/ring-jetty-adapter   {:mvn/version "0.3.6"}
           necessary-evil            {:mvn/version "2.0.2"}
           commons-lang/commons-lang {:mvn/version "2.6"}}
 :aliases {:test {:main-opts ["-m" "robot-remote-server.keywords"]}
           :dev  {:extra-paths ["dev"]
                  :extra-deps  {swank-clojure {:mvn/version "1.4.3"}
                                marginalia    {:mvn/version "0.9.1"}}}}
 :paths   ["src"]}
